html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, ;
    font-size: 13px;
  line-height: 19px;
  color: #111;
  font-family: Arial,sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
label {
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 10px;
}

input, select, textarea {
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  font-family: Arial,sans-serif;
  line-height: 19px;
  color: #111;
  border-radius: 5px;
  outline: none;
  border: .5px solid #8a8a8a;
  padding: 7px;          
}

input:focus, input:active {
  border: 1px solid rgb(163, 163, 255);
}

a, a:active, a:link, a:visited {
  text-decoration: none;
  color: #18b;
}
.login-privacy {
  font-size: 13px;
  margin: 1rem 0 1.4rem 0;
}

.footer-ul {
  display: flex;
  justify-content: center;
}
.copy {
  text-align: center;
  margin-top: 1rem;
}

.logo-container {
  width: 180px;
  margin: 0 auto;
  position: relative;
  top: -20px;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
  margin: 0 1rem;
}
button {
  cursor: pointer;
}
.err-danger {
  color: red;
  text-align: center;
  font-weight: bolder;
  font-size: 16px;
  position: relative;
  top: -30px
}
.loading-container {
  color: limegreen;
  text-align: center;
  position: relative;
  top: -20;
}
.userpage {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}